@charset "EUC-KR";
.btn
{
	width:150px;
	height:45px;
	font-size:1.2em;
	font-weight:bold;
	background-color:skyblue;
	border-radius: 15px;
	border: none;
	cursor:pointer;
}
.btn_logout
{
	width:120px;
	height:30px;
	font-size:1.1em;
	font-weight:bold;
	border-radius: 15px;
	margin-right: 10px;
}
#datepicker
{
	width:160px;
	height:80px;
	font-size:30;
	font-weight:bold;
	border:none;
	background:transparent;
	cursor:pointer;
}
#searchinput 
{
    display: none;
}
#key
{
	width:170px;
	height: 30px;
	font-size:1.1em;
}
a
{
	text-decoration-line: none;
	color : black;
}
td
{
	text-align:center;
}
.th1, .th4
{	
	height:30px;
	background-color:#3498db;
	font-size:20;
}
.th3
{	
	height:20px;
	background-color:#3498db;
	font-size:20;
}
.td1, .td4
{	
	width:60px;
	height:30px;
	font-weight:bold;
	background-color:#eaeaea;
	font-size:20;
}
.td3
{
	height:30px;
	font-weight:bold;
	background-color:#eaeaea;
	font-size:20;
}
.table01
{
	width:500px;
	height:700px;
	border-collapse:collapse;
	margin-top:15px;
	margin-left:15px;
}
.table02, .table03, .table04
{
	width:500px;
	height:700px;
	border-collapse:collapse;
	margin-top:15px;
}
.table05
{
	border-collapse: collapse;
	width:800px;
	height:700px;
	margin-top:15px;
}
#span1
{	
	padding: 7px 30px;
	background-color : red;
	border-radius: 5px;
	text-align: center;
	display:inline-block;
	width:100px;
	padding: 0px 0px;
}
#span2
{
	padding: 7px 30px;
	background-color : #2ecc71;
	border-radius: 5px;
	text-align: center;
	display:inline-block;
	width:100px;
	padding: 0px 0px;
}